<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.106.21" targetFramework="net472" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.101.165" targetFramework="net472" />
  <package id="AWSSDK.SimpleSystemsManagement" version="3.3.123.2" targetFramework="net472" />
</packages>